services:
  adrianvillanueva:
    image: ghcr.io/adrianvillanueva997/adrianvillanueva.com:v3.3.2
    networks:
      - dokploy-network
    restart: always
    ports:
      - 3000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adrianvillanuevacom.rule=Host(`adrianvillanueva.com`)"
      - "traefik.http.routers.adrianvillanuevacom.entrypoints=websecure"
      - "traefik.http.routers.adrianvillanuevacom.tls.certResolver=letsencrypt"
      - "traefik.http.services.adrianvillanuevacom.loadbalancer.server.port=3000"
networks:
  dokploy-network:
    external: true
