services:
  adrianvillanueva:
    image: ghcr.io/adrianvillanueva997/adrianvillanueva.com:v3.3.2
    networks:
      - proxy
    restart: always
    ports:
      - 3000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.adrianvillanueva-redirect-https.redirectscheme.scheme=https
      - traefik.http.middlewares.adrianvillanueva-redirect-https.redirectscheme.permanent=true
      - traefik.http.routers.adrianvillanueva-http.middlewares=adrianvillanueva-redirect-https
      - traefik.http.routers.adrianvillanueva-http.rule=Host(`adrianvillanueva.com`)
      - traefik.http.routers.adrianvillanueva-http.entrypoints=http
      - traefik.http.routers.adrianvillanueva-https.rule=Host(`adrianvillanueva.com`)
      - traefik.http.routers.adrianvillanueva-https.tls.certresolver=letsencrypt
      - traefik.http.routers.adrianvillanueva-https.tls=true
      - traefik.http.routers.adrianvillanueva-https.entrypoints=https
      - "traefik.http.services.adrianvillanueva.loadbalancer.server.port=3000"
      - traefik.docker.network=proxy
networks:
  proxy:
    external: true
