services:
  adrianvillanueva:
    image: ghcr.io/adrianvillanueva997/adrianvillanueva.com:v3.4.0
    networks:
      - proxy
      - otlp
    restart: always
    ports:
      - 3000
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.adrianvillanueva-redirect-https.redirectscheme.scheme=https
      - traefik.http.middlewares.adrianvillanueva-redirect-https.redirectscheme.permanent=true
      - traefik.http.routers.adrianvillanueva-http.middlewares=adrianvillanueva-redirect-https
      - traefik.http.routers.adrianvillanueva-http.rule=Host(`adrianvillanueva.com`)
      - traefik.http.routers.adrianvillanueva-http.entrypoints=http
      - traefik.http.routers.adrianvillanueva-https.rule=Host(`adrianvillanueva.com`)
      - traefik.http.routers.adrianvillanueva-https.tls.certresolver=letsencrypt
      - traefik.http.routers.adrianvillanueva-https.tls=true
      - traefik.http.routers.adrianvillanueva-https.entrypoints=https
      - "traefik.http.services.adrianvillanueva.loadbalancer.server.port=3000"
      - traefik.docker.network=proxy
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
networks:
  proxy:
    external: true
  otlp:
    external: true
