---
import mePhoto from "@/assets/me/me.jpg";
import BaseHead from "@/components/BaseHead.astro";
import BentoGrid from "@/components/BentoGrid.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";

const nowStatus = "Learning Zig & Boxing";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<main class="container">
			<BentoGrid
				mePhoto={mePhoto}
				nowStatus={nowStatus}
			/>
		</main>

		<Footer />

		<style>
			.container {
				max-width: var(--content-width);
				margin: 0 auto;
				padding: 0 1rem;
			}
		</style>
	</body>
</html>
