{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}

    <div class="page home"{{ if ne $posts.enable false }} data-home="posts"{{ end }}>
        {{- /* Profile */ -}}
        {{- if ne $profile.enable false -}}
            {{- partial "home/profile.html" . -}}
        {{- end -}}

        {{- /* Content */ -}}
        {{- if .Content -}}
            <div class="single">
                <div class="content" id="content">
                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}
<div class="content">
    <h1>🌀 Archmage of Engineering: Adrian's Ever-shifting Nexus of Knowledge 🔮</h1>
    <hr>
    <div class="summary">
<p>Welcome to the arcane tapestry of my software sorcery! As a masterful Software Sorcerer, my expertise delves into the ever-shifting realms of 💻 Python, 🚀 Go, ⚙️ Rust, ☕ Java, 🌐 Web Development, and ☕ C. I am a conjurer of code, weaving intricate spells of innovation and transcendence that defy the mundane boundaries of tradition.</p>

<p>Embark on a mystical journey through the labyrinthine corridors of ☁️ Cloud architecture, where I navigate the unpredictable currents of change. Armed with the arcane knowledge of cutting-edge technologies, I sculpt resilient systems that metamorphose in response to the ever-evolving demands of the digital ether.</p>

<p>Delve into the enigmatic artistry of 📊 Data Engineering, where I transmute raw data into profound insights, navigating the shifting sands of information. The data realms serve as my canvas, and I paint with the hues of analytics and machine learning, crafting visions that dance on the edge of chaos and order.</p>

<p>Step into the chaotic dance of 🤖 Bots and Automation, where I conduct a symphony of efficiency and unpredictability. Here, processes become agile dancers, swirling in harmonious disarray. With the sacred tools of Infra – 🐳 Docker, ☸️ Kubernetes, and 🛠️ Terraform – I conjure environments that adapt and evolve with the capricious whims of change.</p>

<p>As an ever-evolving DevOps Sorcerer, I traverse the dynamic landscapes between development and operations. My incantations foster a culture of continuous metamorphosis, where the boundary between chaos and order becomes a fluid dance. Beyond the mere scripts and pipelines, my journey is one of crafting experiences, navigating challenges, and manifesting ideas into the ever-shifting tapestry of reality.</p>

    <hr>
    </div>
</div>

    </div>
{{- end -}}
