<!doctype html>
<html lang="en">
<head>
    {{ template "scripts.tmpl.html" .}}
    <title>{{ .title }}</title>
    <meta name="description"
          content="About me">
    <meta name="keywords"
          content="programming, dota, warhammer, music, motorhead, amon amarth">
    <meta name="author" content="Adrian Villanueva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{{ template "navbar.tmpl.html" .}}
<div class="container">
    <h4>About me</h4>
    <ul>
        <li>
            I like Warhammer Fantasy being my favourite: Chaos (Tzeench and Slaneesh mostly),
            Chaos Dwarfs, Skavens, Vampire Coast, Tomb Kings and the Empire.
        </li>
        <li>
            Videogames, if you ask me what I am playing now, I'll probably answer Dota 2, Total War Warhammer 2 and
            occasionally Rust.
        </li>
        <li>
            Reading, big fan of Dmitry Glukhovsy (Metro and Futu.re are really good) as well as classics like Isaac
            Asimov.
        </li>
        <li>
            Music, in love with Motörhead, Amon Amarth, Black Sabbath among others.
        </li>
        <li>
            Cat lover.
        </li>
    </ul>
</div>
{{ template "footer.tmpl.html" .}}
</body>
</html>
