<!doctype html>
<html lang="en">
<head>
    {{ template "scripts.tmpl.html" .}}
    <title>{{ .title }}</title>
    <meta name="description"
          content="Blog where I share opinions about technologies, frameworks and discuss personal projects">
    <meta name="keywords"
          content="Go, docker, cpp, c, programming, coding, devops, linux, goland, pycharm, resume, mariadb, docker, big data, python">
    <meta name="author" content="Adrian Villanueva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
{{ template "navbar.tmpl.html" .}}
<body>
<div class="container">
    If you have a compatible reader, be sure to check out my RSS Feed for automatic updates.
    <ul>
        {{ range .posts }}
        <li>
            {{ .Date }} - <a href="/blog/{{ .File }}">{{ .Title }}</a>
        </li>
        {{ end }}
    </ul>
</div>
{{ template "footer.tmpl.html" }}
</body>
</html>