{{ template "head.tmpl.html" .}}
<body>
{{ template "navbar.tmpl.html" .}}
<div class="container">
    <p>Feel free to reach me out in any of these platforms</p>
    <ul>
        <li>
            <a href="https://linkedin.com/in/adrian-villanueva-martinez">Linkedin</a>
        </li>
        <li>
            <a href="mailto:adrianvillanueva997@gmail.com">Email</a>
        </li>
        <li>
            <a href="https://github.com/adrianvillanueva997">Github</a>
        </li>
    </ul>
    <p>If you like my work you can buy me a <a href="https://ko-fi.com/adrianvillanueva997">coffee</a></p>
</div>
{{ template "footer.tmpl.html" .}}
</body>
