<!doctype html>
<html lang="en">
<head>
    {{ template "scripts.tmpl.html" .}}
    <title>{{ .title }}</title>
    <meta name="description"
          content="Contact me">
    <meta name="keywords"
          content="Git, Github, Linkedin, email">
    <meta name="author"
          content="Adrian Villanueva">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
</head>
<body>
{{ template "navbar.tmpl.html" .}}
<div class="container">
    <p>Feel free to reach me out in any of these platforms</p>
    <ul>
        <li>
            <a href="https://linkedin.com/in/adrian-villanueva-martinez">Linkedin</a>
        </li>
        <li>
            adrian.villanueva.martinez |[AT]| outlook.com
        </li>
        <li>
            <a href="https://github.com/adrianvillanueva997">Github</a>
        </li>
    </ul>
    <p>If you like my work you can buy me a <a href="https://ko-fi.com/adrianvillanueva997">coffee</a></p>
</div>
{{ template "footer.tmpl.html" .}}
</body>
</html>