<!doctype html>
<html lang="en">
<head>
    {{ template "scripts.tmpl.html" .}}
    <title>{{ .title }}</title>
    <meta name="description"
          content="404 website not found">
    <meta name="keywords"
          content="Go home!">
    <meta name="author"
          content="Adrian Villanueva">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
</head>
<body>
{{ template "navbar.tmpl.html" .}}
<div class="container">
    <h1>Whoops! The page that you're trying to find does not exist</h1>
    <p><a href="/">Go back to the front page, lost one!</a></p>
</div>

{{ template "footer.tmpl.html" }}
</body>
</html>