<!doctype html>
<html lang="en">
<head>
    {{ template "scripts.tmpl.html" .}}
    <title>{{ .title }}</title>
    <meta name="description"
          content="RSS Feed">
    <meta name="keywords"
          content="rss, atom, json">
    <meta name="author"
          content="Adrian Villanueva">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
</head>
<body>
{{ template "navbar.tmpl.html" .}}

<div class="container">
    <h2>Choose your feed</h2>
    <ul>
        <li>
            <a href="/feed/json">Json</a>
        </li>
        <li>
            <a href="/feed/rss">RSS</a>
        </li>
        <li>
            <a href="/feed/atom">Atom</a>
        </li>
    </ul>
</div>


{{ template "footer.tmpl.html" }}
</body>
</html>