<!--index.html-->
<!doctype html>
<html lang="en">
<head>
    {{ template "scripts.tmpl.html" .}}
    <title>{{ .title }}</title>
    <meta name="description" content="Skills, blog and portfolio of Adrian Villanueva, Software engineer from Spain">
    <meta name="keywords"
          content="Go, docker, cpp, c, programming, coding, devops, linux, goland, pycharm, resume, mariadb, docker, big data, python">
    <meta name="author" content="Adrian Villanueva">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

{{ template "navbar.tmpl.html" .}}
<div class="container" id="index">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img height="150" src="./assets/me.png">
            </div>
            <div class="col-6">
                <h1>Software Engineer</h1>
                <h2>Adrián Villanueva</h2>
                <hr>
                <h4>Skills</h4>
                <ul>
                    <li>
                        Go, Python, Typescript and other languages.
                    </li>
                    <li>
                        MariaDB, MongoDB, PostgreSQL.
                    </li>
                    <li>
                        Docker (Deployment & Development).
                    </li>
                    <li>
                        Devops.
                    </li>
                    <li>
                        Likes big data.
                    </li>
                </ul>
                <hr>
                <h4>Tools</h4>
                <ul>
                    <li>Software development on GNU/Linux (Currently on <a
                            href="https://endeavouros.com/">EndeavourOS</a>)
                    </li>
                    <li>
                        Ubuntu Server, DietPi, CentOS
                    </li>
                    <li>
                        Goland, Pycharm, Webstorm, VSCode, Vim (Currently learning)
                    </li>
                    <li>
                        Jenkins, Github Actions
                    </li>
                    <li>
                        Git
                    </li>
                </ul>
                <hr>
                <h4>Highlighted Projects</h4>
                <ul>
                    <li>
                        <a href="#">Open Security Hub</a>
                    </li>
                    <li>
                        <a href="https://github.com/adrianvillanueva997/telegrambot-ukranian">Telegram Ukranian Bot.</a>
                    </li>
                    <li>
                        <a href="https://github.com/adrianvillanueva997/Simple-Ada-Compiler">Ada compiler.</a>
                    </li>
                    <li>
                        <a href="https://github.com/adrianvillanueva997/DeficienteBot_Telegram">Retarded Telegram
                            bot.</a>
                    </li>
                    <li>
                        <a href="https://github.com/adrianvillanueva997/discordbot-hazzikostas">Hazzikostas Discord
                            bot.</a>
                    </li>
                </ul>
                <hr>
                <h4>Currently learning / Planning to learn</h4>
                <ul>
                    <li>Rust</li>
                    <li>Kubernetes</li>
                </ul>
                <h4>Quick links</h4>
                <ul>
                    <li>
                        <a href="https://linkedin.com/in/adrian-villanueva-martinez">Linkedin</a>
                    </li>
                    <li>
                        <a href="https://github.com/adrianvillanueva997">Github</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
</div>

<!-- Footer template goes here -->
{{ template "footer.tmpl.html" .}}

</html>