<!--index.html-->
<!doctype html>
<html lang="en">
<head>
    {{ template "scripts.tmpl.html" .}}
    <title>{{ .title }}</title>
    <meta name="description"
          content="Skills, blog and portfolio of Adrian Villanueva, Software engineer from Spain">
    <meta name="keywords"
          content="Go, docker, cpp, c, programming, coding, devops, linux, goland, pycharm, resume, mariadb, docker, big data, python">
    <meta name="author"
          content="Adrian Villanueva">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/index.css">
    <script>
        AOS.init();
    </script>
</head>

{{ template "navbar.tmpl.html" .}}
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Adrián Villanueva Martínez</h1>
        <p>Software Engineer, GNU/Linux, Self-hosting enthusiast</p>
        <div class="social-links">
            <a href="https://github.com/adrianvillanueva997" class="Github"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/adrian-villanueva-martinez" class="Linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/adrianv5x" class="Twitter"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</section><!-- End Hero -->

<!-- Footer template goes here -->
{{ template "footer.tmpl.html" .}}

</html>
