<!doctype html>
<html lang="en">
<head>
    {{ template "scripts.tmpl.html" .}}
    <title>{{ .title }}</title>
    <meta name="description"
          content="Resume / CV">
    <meta name="keywords"
          content="Go, docker, cpp, c, programming, coding, devops, linux, goland, pycharm, resume, mariadb, docker, big data, python, job, employment">
    <meta name="author"
          content="Adrian Villanueva">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
</head>
<body>
{{ template "navbar.tmpl.html" .}}
<div class="container">
    <h1>Adrian Villanueva <br>Software Engineer</h1>
    <h4>Madrid, Spain</h4>
    <hr>
    <p>
        Docker, Git, Go, Python, C, Devops, Jenkins, SQL, MySQL, SQLite, PostreSQL, MariaDB, Yaml, Java, C#,
        Typescript/NodeJS, Raspberry Pi,
        Ubuntu, CentOS, Arch Linux, MongoDB, Continuous Integration/Delivery, GCP
    </p>
    <br>
    <h5>EY Intern Financial Accounting Advisory (Tech) 2019-2020</h5>
    <p>Software development and SysAdmin</p>
    <ul>
        <li>ETL Software Development with Python</li>
        <li>Machine Learning prototyping (Sklearn)</li>
        <li>BI development with SQL Server, PowerBI and Sage x3 dashboards</li>
        <li>Linux and Windows SysAdmin (Ubuntu, CentOS, Windows Server)</li>
        <li>Web applications prototyping</li>
        <li>Sage x3 Management</li>
        <li>Bash and cmd scripting</li>
    </ul>
    <br>
    <h5>IT Seminars 2015-2018</h5>
    <p>Seminars organised by my university and others around Europe. Attended 3 editions: UEM, Madrid (Spain), Hes-so,
        Valais (Switzerland), Haaga-Helia, Helsinki (Finland) </p>
    <ul>
        <li>Workshop instructor on VR development using Unity</li>
        <li>Robotics, 3D printing, Blender and Arduino</li>
    </ul>
    <br>
    <h5>UEM Data Engineering 2018-2019</h5>
    <p>Monitoring and analysis of the discursive characterization of migratory stories on Twitter</p>
    <ul>
        <li>Data engineering pipelines using Pandas and SQL</li>
        <li>Data mining using Twitter API, Sentiment Analysis techniques and Natural Language Processing</li>
        <li>Data cleaning</li>
        <li>Machine Learning prototyping</li>
    </ul>
    <br>
    <h5>Data Scientist Researcher at <a
            href="https://projectbasedschool.universidadeuropea.es/Data+Science+Laboratory">DSLAB</a> 2018</h5>
    <p>Theoretical Machine Learning research</p>
    <ul>
        <li>Spotify songs prediction models</li>
    </ul>
</div>
{{ template "footer.tmpl.html" .}}
</body>
</html>